@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>No useful content here: this application is built <b>only for training purposes</b>.</p>
   
    <h4>C# learning Resources</h4>
    <div>
        <p><a href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core</a></p>
        <p><a href="https://docs.microsoft.com/en-us/ef/core/">Entity Framework Core</a></p>
        <p><a href="https://docs.microsoft.com/en-us/cli/azure/appservice?view=azure-cli-latest">Azure App Service</a></p>
        <pre>echo @@dir %* > %systemroot%\system32\ls.bat</pre>
    </div>
    <h4>Source code</h4>
    <div>
        <p><a href="https://github.com/howbigdata/playground">https://github.com/howbigdata/playground</a></p>
    </div>
</div>
